<!-- NAVBAR MOBILE -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo">
      <%= image_tag("Let_Me_Help_You_Logo.png", alt: "Logo", class:"logo-img")%>
      <h2 class="logo-text">Let Me Help You</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Psychologist</a>
        <a class="nav-item nav-link" href="#">Prices</a>
        <a class="nav-item nav-link" href="#">FAQS</a>
        <a class="nav-item nav-link" href="#">Chat</a>
        <div class="toolbar">
          <%= link_to "Sign In", user_session_path, class:"text-decoration-none"%>
          <%= link_to "Sign Up", new_user_registration_path, class:"toolbar-sign_up text-decoration-none"%>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Navbar Desktop -->
<div class="nav-desktop">
  <div class="nav-logo">
    <%= image_tag("Let_Me_Help_You_Logo.png", alt: "Logo", class:"nav-logo_img")%>
    <h2 class="nav-logo_text">Let Me Help You</h2>
  </div>

  <div class="nav-links">
    <a href="#" class="nav-links_item">Psychologist</a>
    <a href="#" class="nav-links_item">Prices</a>
    <a href="#" class="nav-links_item">FAQS</a>
  </div>

  <div class="nav-toolbar">
  
    <a href="/users/sign_in" class="nav-toolbar_link">Sign In</a>
    <a href="/users/sign_up" class="nav-toolbar_button">Sign Up</a>

  </div>

</div>
