
<main class="container-fluid">
  <section class="hero">
    <div class="hero-text">
      <h2 class="hero-text_medium">Psychological</h2>
      <h1 class="hero-text_large">HELP</h1>
    </div>
    <div class="hero-img">
      <%= image_tag("home_content.png", alt:"Home image",class:"img-fluid mb-2")%>
    </div>
    <div class="hero-content">
      <%= link_to "Start Now", root_path, class: "hero-content_button"%>
      <p class="hero-content_text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        Eos, natus.Lorem ipsum dolor sit amet consectetur 
      </p>
    </div>
  </section>
</main>