$text-color: #0077B6;
$white: #fff;
$breakpoint-desktop: 992px;
$field-color: #66C0DD;

%flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button($padding_top_and_bot, $padding_left_and_right, $bgcolor, $color-text){
  background-color: $bgcolor;
  color: $color-text;
  text-decoration: none;
  padding: $padding_top_and_bot $padding_left_and_right;
  border-radius: 20px;
}

@mixin desactivated_navbarMobile {
  .navbar {
    display: none;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}
